body {
  background-color: #070e24 !important;
  color: #d1d5db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #070e24;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #00254d;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #61b0fb46;
}

body::-webkit-scrollbar-corner {
  background: transparent;
}

.header-translucent {
  background-color: #008dc5 !important;
  backdrop-filter: blur(10px);
}

.access-btn {
  background-color: #00b7ff;
  border: none;
}

.hero-section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #005d92 0%, #001e4e 100%);
  padding: 3rem 0 8rem;
  border-bottom: none;
  box-shadow: inset 0 60px 100px -30px rgba(46, 161, 255, 0.1),
    inset 0 -60px 100px -30px rgba(0, 0, 0, 0.5);
}

.hero-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 150" preserveAspectRatio="none"><path d="M0,100 C180,140 320,60 500,100 C680,140 820,60 1000,100 L1000,150 L0,150 Z" fill="%23070e24"></path></svg>') no-repeat bottom center;
  background-size: cover;
  z-index: 0;
  opacity: 1;
}

.hero-content-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  gap: 3rem;
  position: relative;
  z-index: 1;
}

.iara-img {
  max-width: 400px;
  height: auto;
  margin-bottom: 0rem;
}

@media (min-width: 768px) {

  .hero-section {
    padding: 10rem 0;
  }

  .iara-img {
    max-width: 500px;
    margin-bottom: 0;
    margin-right: 2rem;
  }

}

@media (min-width: 1400px) {

  .hero-section {
    padding: 3rem 0;
  }

  .iara-img {
    max-width: 700px;
    margin-right: 0rem;
    z-index: 2;
  }

  .hero-content-wrapper .display-3 {
    font-size: 3rem !important;
  }
}

@media (min-width: 768px) {

  .text-content>div:last-child {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #3bd5ff, #21a1f1, #29d6b9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.feature-card {
  background-color: #0c1c3a;
  border: 1px solid #0c1c3a;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  background-color: #102449;
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}